@import "fonts";
@import "variables";
@import "mixins";

@import "bulma";

$glass-colors: $colors !default;

strong {
    color: inherit;
}

a[href]{
    color: inherit;
}

.article {
    font-family: $family-secondary;
    a[href] {
        color: $link;
    }
}

.nuxt-content {
    h2>a, h3>a {
        &>span {
            width: 10px;
        }

        &::before {
            content: "#"
        }
    }
}

.content {
    padding: 20px;
}

.is-rounded {
    border-radius: $radius-large;
}

.is-square {
    @include aspect-ratio(1, 1);
}

.is-glass {
    background-color: rgba(255, 255, 255, .15);

    backdrop-filter: blur(10px);

    // Colors
    @each $name, $pair in $glass-colors {
        $color: nth($pair, 1);

        $color-background: rgba(lighten($color, 30%), .20);

        &.is-#{$name} {
            background-color: $color-background;
            color: $color;
        }
  }
    
}