@import "fonts";
@import "variables";
@import "mixins";

@import "bulma";

strong {
    color: inherit;
}

a[href]{
    color: inherit;
}

.article {
    font-family: $family-secondary;
    a[href] {
        color: $link;
    }
}

.nuxt-content {
    h2>a, h3>a {
        &>span {
            width: 10px;
        }

        &::before {
            content: "#"
        }
    }
}

.is-square {
    @include aspect-ratio(1, 1);
}