@import "fonts";
@import "variables";

@import "bulma";

strong {
    color: inherit;
}

a[href]{
    color: inherit;
}

.content {
    font-family: $family-secondary;
    a[href] {
        color: $link;
    }
}